In [1]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [4]:
mydb = client['Fields']

In [5]:
fieldinfo = mydb.fieldinfoemation

In [6]:
record =[{'manik':'datance'},{'pritam':'stock market'},{'manohar':'docter'}]

In [7]:
fieldinfo.insert_many(record)

In [19]:
record= [{
    'name':'Manik',
    'surname':'chitralwar',
    'profession':'data scientist',
    'age':24,
    'about':'good person with a lot of hard working ability'
}, {
    'name':'pritam',
    'surname':'jadhav',
    'profession':'stock market',
    'age':24,
    'about':'gbh'
},{
    'name':'manohar',
    'surname':'chitralwar',
    'profession':'docter',
    'age':20,
    'about': 'brother'   
}]

In [21]:
fieldinfo.insert_many(record)

In [23]:
fieldinfo.find_one()

{'_id': ObjectId('60eab6420116899ed4b9dbab'), 'manik': 'data science'}

In [25]:
fieldinfo.find_one(2)

In [32]:
m = fieldinfo.find()

In [33]:
for i in m :
    print(i)

{'_id': ObjectId('60eab6420116899ed4b9dbab'), 'manik': 'data science'}
{'_id': ObjectId('60eab6420116899ed4b9dbac'), 'pritam': 'stock market'}
{'_id': ObjectId('60eab6420116899ed4b9dbad'), 'manohar': 'docter'}
{'_id': ObjectId('60eabacc0116899ed4b9dbae'), 'name': 'Manik', 'surname': 'chitralwar', 'profession': 'data scientist', 'age': 24, 'about': 'good person with a lot of hard working ability'}
{'_id': ObjectId('60eabacc0116899ed4b9dbaf'), 'name': 'pritam', 'surname': 'jadhav', 'profession': 'stock market', 'age': 24, 'about': 'gbh'}
{'_id': ObjectId('60eabacc0116899ed4b9dbb0'), 'name': 'manohar', 'surname': 'chitralwar', 'profession': 'docter', 'age': 20, 'about': 'brother'}

In [36]:
for i in fieldinfo.find({'name':'Manik'}):
    print(i)

{'_id': ObjectId('60eabacc0116899ed4b9dbae'), 'name': 'Manik', 'surname': 'chitralwar', 'profession': 'data scientist', 'age': 24, 'about': 'good person with a lot of hard working ability'}

In [38]:
for i in fieldinfo.find({'age':24}):
    print(i)

{'_id': ObjectId('60eabacc0116899ed4b9dbae'), 'name': 'Manik', 'surname': 'chitralwar', 'profession': 'data scientist', 'age': 24, 'about': 'good person with a lot of hard working ability'}
{'_id': ObjectId('60eabacc0116899ed4b9dbaf'), 'name': 'pritam', 'surname': 'jadhav', 'profession': 'stock market', 'age': 24, 'about': 'gbh'}

In [39]:
for i in fieldinfo.find({'age':{'$in':[24,20]}}):
    print(i)

{'_id': ObjectId('60eabacc0116899ed4b9dbae'), 'name': 'Manik', 'surname': 'chitralwar', 'profession': 'data scientist', 'age': 24, 'about': 'good person with a lot of hard working ability'}
{'_id': ObjectId('60eabacc0116899ed4b9dbaf'), 'name': 'pritam', 'surname': 'jadhav', 'profession': 'stock market', 'age': 24, 'about': 'gbh'}
{'_id': ObjectId('60eabacc0116899ed4b9dbb0'), 'name': 'manohar', 'surname': 'chitralwar', 'profession': 'docter', 'age': 20, 'about': 'brother'}

In [41]:
for i in fieldinfo.find({'age':{'$lt':25}}):
                         print(i)

{'_id': ObjectId('60eabacc0116899ed4b9dbae'), 'name': 'Manik', 'surname': 'chitralwar', 'profession': 'data scientist', 'age': 24, 'about': 'good person with a lot of hard working ability'}
{'_id': ObjectId('60eabacc0116899ed4b9dbaf'), 'name': 'pritam', 'surname': 'jadhav', 'profession': 'stock market', 'age': 24, 'about': 'gbh'}
{'_id': ObjectId('60eabacc0116899ed4b9dbb0'), 'name': 'manohar', 'surname': 'chitralwar', 'profession': 'docter', 'age': 20, 'about': 'brother'}

In [46]:
for i in fieldinfo.find({'$and':[{'age':24},{"profession":'data scientist'}]}):
    print(i)

{'_id': ObjectId('60eabacc0116899ed4b9dbae'), 'name': 'Manik', 'surname': 'chitralwar', 'profession': 'data scientist', 'age': 24, 'about': 'good person with a lot of hard working ability'}

In [48]:
for i in fieldinfo.find({'$and':[{'age':{'$gt':19}},{'surname':'chitralwar'}]}):
    print(i)

{'_id': ObjectId('60eabacc0116899ed4b9dbae'), 'name': 'Manik', 'surname': 'chitralwar', 'profession': 'data scientist', 'age': 24, 'about': 'good person with a lot of hard working ability'}
{'_id': ObjectId('60eabacc0116899ed4b9dbb0'), 'name': 'manohar', 'surname': 'chitralwar', 'profession': 'docter', 'age': 20, 'about': 'brother'}

In [54]:
for i in fieldinfo.find({'profession':'stock market','age':{'$lt':30}}):
    print(i)

{'_id': ObjectId('60eabacc0116899ed4b9dbaf'), 'name': 'pritam', 'surname': 'jadhav', 'profession': 'stock market', 'age': 24, 'about': 'gbh'}

In [55]:
exam = mydb.exam

In [56]:
record= [
    {
        'name':'manik',
        'class':12,
        'diamention':{'h':150,'w':50},
        'age':24
    },
    {
        'name':'pritam',
        'class':11,
        'diamention':{'h':145,'w':60},
        'age':24
    },
    {
        'name':'manohar',
        'class':8,
        'diamention':{'h':120,'w':30},
        'age':15
    }
]

In [57]:
exam.insert_many(record)

In [60]:
for i in exam.find():
    print(i)

{'_id': ObjectId('60eac9300116899ed4b9dbb1'), 'name': 'manik', 'class': 12, 'diamention': {'h': 150, 'w': 50}, 'age': 24}
{'_id': ObjectId('60eac9300116899ed4b9dbb2'), 'name': 'pritam', 'class': 11, 'diamention': {'h': 145, 'w': 60}, 'age': 24}
{'_id': ObjectId('60eac9300116899ed4b9dbb3'), 'name': 'manohar', 'class': 8, 'diamention': {'h': 120, 'w': 30}, 'age': 15}

In [65]:
for i in exam.find({'diamention.h':150}):
    print(i)

{'_id': ObjectId('60eac9300116899ed4b9dbb1'), 'name': 'manik', 'class': 12, 'diamention': {'h': 150, 'w': 50}, 'age': 24}

# updating json file in mongodb

In [66]:
for i in exam.find():
    print(i)

{'_id': ObjectId('60eac9300116899ed4b9dbb1'), 'name': 'manik', 'class': 12, 'diamention': {'h': 150, 'w': 50}, 'age': 24}
{'_id': ObjectId('60eac9300116899ed4b9dbb2'), 'name': 'pritam', 'class': 11, 'diamention': {'h': 145, 'w': 60}, 'age': 24}
{'_id': ObjectId('60eac9300116899ed4b9dbb3'), 'name': 'manohar', 'class': 8, 'diamention': {'h': 120, 'w': 30}, 'age': 15}

In [77]:
exam.update_one({'name':'manik'},
                {'$set':{'diamention.h':170, 'age':22},
                '$currentDate': {"lastmodified":True}}
               )

In [81]:
exam.update_many({'age':{'$gt':20}},{'$set':{'age':25, 'diamention.h':140}, '$currentDate':{'lastmodified':True}})

In [86]:
exam.update_many({'diamention.w':{'$gt':50}},
                 {'$set':{'class':'12'},'$currentDate':{"lastmodified":True}})

In [92]:
exam.replace_one({'name':'manik'},
                 {'name':'leo','class':25,'diamention':{'h':160,'w':60},'age':24})

In [93]:
exam.replace_one({'name':'leo'},
                 {'name':'manik','class':25,'diamention':{'h':160,'w':60,'a':100},'age':24,'married':"no"})